<!doctype html>
<html lang="en">
<head>
    <title>The WEIV Admin</title>
    <link rel="stylesheet" href="node_modules/ng-admin/build/ng-admin.min.css">
</head>
<body ng-app="myApp">
<div ui-view="ng-admin"></div>
<script src="node_modules/ng-admin/build/ng-admin.min.js"></script>
<script type="text/javascript">

    //var baseUrl = 'http://localhost:3101/';
    var baseUrl = 'http://sample-env.kgmapzcwd8.us-west-2.elasticbeanstalk.com/';

    function approveSeller(Restangular, $state, notification) {
        'use strict';

        return {
            restrict: 'E',
            scope: {
                user: "&",
                size: "@",
            },
            link: function(scope, element, attrs) {
                scope.user = scope.user();
                scope.type = attrs.type;
                scope.approve = function(status) {
                    Restangular
                        .one('user', scope.user.values._id).get()
                        .then(user => {
                            user.data.confirmed = status;
                            return user.data.put();
                        })
                        .then(() => $state.reload())
                        .then(() => notification.log('User ' + ((status == true) ? 'approved' : 'unapproved'), { addnCls: 'humane-flatty-success' }) )
                        .catch(e => notification.log('Unable to edit user, stripe account not connected', { addnCls: 'humane-flatty-error' }) && console.error(e) );
                }
            },
            template:
                ` <a ng-if="user.values.is_content_creator == true && user.values.confirmed == false" class="btn btn-outline btn-success" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(true)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Approve
                </a>
                <a ng-if="user.values.is_content_creator == true && user.values.confirmed == true" class="btn btn-outline btn-danger" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(false)">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;Unapprove
                </a>`
        };
    }

    approveSeller.$inject = ['Restangular', '$state', 'notification'];

    function featureAlbum(Restangular, $state, notification) {
        'use strict';
        return {
            restrict: 'E',
            scope: {
                album: "&",
                size: "@",
            },
            link: function(scope, element, attrs) {
                //debugger;
                scope.album = scope.album();
                scope.type = attrs.type;
                scope.approve = function(status) {
                    Restangular
                        .one('album', scope.album.values._id).get()
                        .then(album => {
                            album.data.isFeatured = status;
                            return album.data.put();
                        })
                        .then(() => $state.reload())
                        .then(() => notification.log('Album ' + ((status == true) ? 'featured' : 'unfeatured'), { addnCls: 'humane-flatty-success' }) )
                        .catch(e => notification.log('Unable to edit album', { addnCls: 'humane-flatty-error' }) && console.error(e) );
                }
            },
            template:
                ` <a ng-if="album.values['albumUserCreator.confirmed'] == true && album.values.isFeatured == false" class="btn btn-outline btn-success" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(true)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Feature
                </a>
                <a ng-if="album.values['albumUserCreator.confirmed'] == true && album.values.isFeatured == true" class="btn btn-outline btn-danger" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(false)">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;Unfeature
                </a>`
        };
    }

    featureAlbum.$inject = ['Restangular', '$state', 'notification'];

    function discoverAlbum(Restangular, $state, notification) {
        'use strict';
        return {
            restrict: 'E',
            scope: {
                album: "&",
                size: "@",
            },
            link: function(scope, element, attrs) {
                //debugger;
                scope.album = scope.album();
                scope.type = attrs.type;
                scope.approve = function(status) {
                    Restangular
                        .one('album', scope.album.values._id).get()
                        .then(album => {
                            album.data.isDiscoverable = status;
                            return album.data.put();
                        })
                        .then(() => $state.reload())
                        .then(() => notification.log('Album ' + ((status == true) ? 'discoverd' : 'undiscoverd'), { addnCls: 'humane-flatty-success' }) )
                        .catch(e => notification.log('Unable to edit album', { addnCls: 'humane-flatty-error' }) && console.error(e) );
                }
            },
            template:
                ` <a ng-if="album.values['albumUserCreator.confirmed'] == true && album.values.isDiscoverable == false" class="btn btn-outline btn-success" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(true)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;Discover
                </a>
                <a ng-if="album.values['albumUserCreator.confirmed'] == true && album.values.isDiscoverable == true" class="btn btn-outline btn-danger" ng-class="size ? \'btn-\' + size : \'\'" ng-click="approve(false)">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;Undiscover
                </a>`
        };
    }

    discoverAlbum.$inject = ['Restangular', '$state', 'notification'];

    var myApp = angular.module('myApp', ['ng-admin']);

    myApp.directive('approveSeller', approveSeller);
    myApp.directive('featureAlbum', featureAlbum);
    myApp.directive('discoverAlbum', discoverAlbum);

    const statuses = ['approved', 'unapproved'];
    const statusChoices = [{ label: 'approved', value: true }, { label: 'unapproved', value: false }];
    const publishedStatus=[{label:'published',value:'published'}];

    myApp.config(['NgAdminConfigurationProvider', function(NgAdminConfigurationProvider) {
        var nga = NgAdminConfigurationProvider;
        // create an admin application
        var admin = nga.application('WEIV Admin Panel').baseApiUrl( baseUrl + 'api_admin/');

        var users = nga.entity('user').identifier(nga.field('_id'));
        users.listView().fields([
            nga.field('avatarUrl', 'template').label('Avatar').template((entry) => `<img style="width:60px" src="${entry.values.avatarUrl}" />`),
            nga.field('username').label('User'),
            nga.field('_id').label('ID'),
            nga.field('email').label('Email'),
            nga.field('fullName').label('Name'),
            nga.field('finishedCreation', 'boolean').label('Ready'),
            nga.field('is_content_creator', 'boolean').label('CC'),
            nga.field('joined_on', 'date').label('Created'),
            nga.field('confirmed', 'choice')
                .choices(statusChoices)
                .cssClasses(function(entry) {
                    if (!entry) return;
                    if (entry.values.is_content_creator == true && entry.values.confirmed == true) {
                        return 'text-center bg-success';
                    }
                    if (entry.values.is_content_creator == true && entry.values.confirmed == false) {
                        return 'text-center bg-danger';
                    }
                    return 'text-center bg-warning';
                }),
        ]).filters([
            nga.field('email_like').label('Search by email').pinned(true),
            nga.field('fullName_like').label('Search by name').pinned(true),
            nga.field('confirmed', 'choice').choices(statusChoices),
            nga.field('joined_on_gte', 'date').label('Joined after'),
            nga.field('joined_on_lte', 'date').label('Joined before')
        ])
        .listActions([
            '<approve-seller size="xs" user="entry"></approve-seller>'
        ]);

        var albums = nga.entity('album').identifier(nga.field('_id'));
        albums.listView().fields([
            nga.field('coverImage', 'template').label('Cover').template((entry) => `<img style="width:60px" src="${entry.values.coverImage}" />`),
            nga.field('name').label('Name'),
            nga.field('albumUserCreator.fullName').label('User'),
            nga.field('price', 'number').format('$0,0.00').label('Price'),
            nga.field('stage').label('Stage'),
            nga.field('isFeatured', 'boolean').label('Featured'),
            nga.field('isDiscoverable', 'boolean').label('Discoverable'),
            nga.field('totalPurchased').label('Buy'),
            nga.field('created_on', 'date').label('Created')
        ]).filters([
            nga.field('stage', 'choice').choices(publishedStatus).pinned(true),
            nga.field('name_like').label('Search by name').pinned(true),
            nga.field('created_on_gte', 'date').label('Created after'),
            nga.field('created_on_lte', 'date').label('Created before')
        ])
        .listActions([
            //'<ma-edit-button entry="::entry" entity="::entity" size="xs" label="Details"></ma-edit-button>',
            '<feature-album size="xs" album="entry"></feature-album>',
            '<discover-album size="xs" album="entry"></discover-album>'
        ]);

        var orders = nga.entity('order').identifier(nga.field('_id'));
        orders.listView().fields([
            nga.field('user.fullName').label('User'),
            nga.field('album.name').label('Album'),
            nga.field('transaction').label('Stripe ID'),
            nga.field('price', 'number').label('Price in ￠'),
            nga.field('from_stripe').label('From'),
            nga.field('to_stripe').label('To'),
            nga.field('date', 'date').label('Created')
        ]).filters([
        ])
        .listActions([
        ]);

        admin.addEntity(users);
        admin.addEntity(albums);
        admin.addEntity(orders);

        admin.menu(nga.menu()
            .addChild(nga.menu(users).icon('<span class="glyphicon glyphicon-user"></span>'))
            .addChild(nga.menu(albums).icon('<span class="glyphicon glyphicon-camera"></span>'))
            .addChild(nga.menu(orders).icon('<span class="glyphicon glyphicon-credit-card"></span>'))
        );

        admin.dashboard(nga.dashboard()
            .template('<div></div>')
        );

                var customHeaderTemplate =
            `<div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">The WEIV Admin</a>
            </div>
            <ul class="nav navbar-top-links navbar-right hidden-xs">
                <li>
                    <a href="/admin/logout">
                        <i class="fa fa-sign-out fa-lg"></i>&nbsp;Logout
                    </a>
                </li>
            </ul>`;

        admin.header(customHeaderTemplate);
        nga.configure(admin);

    }]);
</script>
</body>
</html>